Connected Services/CreditCardWS/ccservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Charge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ccn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ln" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChargeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChargeSoapIn">
    <wsdl:part name="parameters" element="tns:Charge" />
  </wsdl:message>
  <wsdl:message name="ChargeSoapOut">
    <wsdl:part name="parameters" element="tns:ChargeResponse" />
  </wsdl:message>
  <wsdl:portType name="CCServiceSoap">
    <wsdl:operation name="Charge">
      <wsdl:input message="tns:ChargeSoapIn" />
      <wsdl:output message="tns:ChargeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCServiceSoap" type="tns:CCServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Charge">
      <soap:operation soapAction="http://tempuri.org/Charge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCServiceSoap12" type="tns:CCServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Charge">
      <soap12:operation soapAction="http://tempuri.org/Charge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCService">
    <wsdl:port name="CCServiceSoap" binding="tns:CCServiceSoap">
      <soap:address location="https://localhost:44328/ccservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CCServiceSoap12" binding="tns:CCServiceSoap12">
      <soap12:address location="https://localhost:44328/ccservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>